[Desktop Entry]
Version=3.6.2
Name=MuseScore
Comment=MuseScore application
Exec=/home/$USER/Documents/Audovia/AppImage/MuseScore.AppImage
Icon=/snap/audovia-lite/current/meta/gui/mscore-portable.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Audio;Midi;Music;AudioVideo;Education;
