[Desktop Entry]
Version=4.0
Name=Audovia Lite
Comment=Database application for making music using JFugue MusicStrings
Exec=audovia-lite
Icon=${SNAP}/meta/gui/audovia-lite.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Audio;Midi;Music;AudioVideo;Education;

